name: Build Java Protos

on:
  push:
    branches:
      - master
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Grant execute permission for gradlew
        working-directory: ./java
        run: chmod +x gradlew
      - name: Build
        working-directory: ./java
        run: ./gradlew build --stacktrace --no-daemon